<html>
<head>
  <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
  <script src="/javascripts/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div>
Hello SpecServer!
</div>
<button>Push me for DOM swappage</button>
<button>Push me for AJAX swappage</button>
<script>
  $("button:contains('DOM')").click(function (){
    $('div').html("Hello Wakawaka")
  });
  $("button:contains('AJAX')").click(function (){
    $.get('/ajax', function (data) {
      $('div').html(data)
    });
  });
</script>
</body>
</html>
